.final__conteudo {
    display: flex;
    font-family: var(--fonte-principal);
    color: var(--branco);
    background-color: var(--preto);
    margin: 0;
    padding: 0;
    height: 87vh;
    width: 100vw;    
}

.final__direita {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 100%;
}

.final__esquerda {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100%;
}

.conteudo__direita {
    padding-top: 5rem; 
}

.conteudo__direita p {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 20px;
}

.conteudo__esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    line-height: 1.5;
}

.conteudo__esquerda p {
    padding-bottom: 2rem;
}

.conteudo__esquerda h1 {
    font-weight: 900;
    padding-bottom: 1rem;
}

.conteudo__esquerda h2 {
    padding-bottom: 2rem;
}

.menu__final-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    line-height: 1.5;
}

.conteudo__direita-final h1 {
    padding-bottom: 2rem;
}

.mapa {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer__texto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer__conteudo {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.cnpj {
    width: 30vw;
}

.copyright {
    width: 30vw;
}

.texto__cnpj {
    width: 30vw;
}



