.cabecalho__esquerdo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
}

.logo__focox {
    width: 5rem;
    height: auto;
}

.logo__focox img {
    border: 1px solid var(--cinza);
    border-radius: 50%;
}

.indice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.indice__lista {
    display: flex;
    flex-direction: row;
    font-family: var(--fonte-principal);
    font-size: 0.8rem;
    padding-left: 3rem;
    column-gap: 1.1rem;
    letter-spacing: 1px;
}

.indice__cabecalho {
    opacity: 0.8;
    transition: all 0.4s;
}

.indice__cabecalho:hover {
    opacity: 1;
    transition: all 0.4s;
    transform: translateY(-5px);
}

.lista {
    color: var(--branco);
    text-decoration: none;
    padding-right: 3rem;
    white-space: nowrap;
}

.cabecalho__direito div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho__direito {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
    width: 100%;
}

.indice__direita {
    color: var(--branco);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 0.8rem;
    padding: 0 2rem;
    letter-spacing: 1px;
    opacity: 0.8;
    transition: all 0.4s;
    white-space: nowrap;
}

.indice__direita:hover {
    opacity: 1;
    transition: all 0.4s;
    transform: translateY(-5px);
}

.icones {
    padding-right:1.5rem;
}

.icones__direita {
    display: flex;
    align-items: center;
    margin: 0.5rem 1.2rem;
}

.fa-user {
    color: var(--branco);
    opacity: 0.6;
    transition: all 0.4s;
}

.fa-user:hover {
    opacity: 1;
    transition: all 0.4s;
    transform: translateY(-5px);
    cursor: pointer;
}

.fa-bars {
    color: var(--branco);
    visibility: hidden;
}

@media (min-widt: 1020px) {
    .fa-bars {
        visibility: visible;
    }
}