main {
    border-bottom: 1px solid var(--branco);
    font-family: var(--fonte-principal);
}

.pagina__principal {
    display: flex;
    flex-direction: row;
}

.pagina__home {
    color: var(--branco);
}

.imagem__principal {
    width: 60%;
    height: 100%;
}

.imagem__home div {
    display: flex;
    justify-content: flex-end;
}