main {
    width: 100%;
    border-bottom: 1px solid var(--cinza);
    font-family: var(--fonte-principal);
}

.pagina__principal {
    display: flex;
    flex-direction: row;
    height: 86vh; /* Ajuste a altura para 100% da viewport */
    width: 100vw; /* Ajuste a largura para 100% da viewport */
    margin: 0; /* Remova as margens para evitar espaços indesejados */
    padding: 0; /* Remova os padding para evitar espaços indesejados */
}

.pagina__home {
    width: 75%;
    height: 50h;
    margin-top: 7%;
    color: var(--branco);
    text-align: center;
}

.imagem__home {
    width: 60%;
    height: 86vh;
    justify-content: flex-end;
}

.imagem_placa {
    width: max-content;
    height: 86vh;
}

.imagem__principal {
    height: 100%; 
    width: 50vw;
}

.itens__lista__home {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    width: 100%;
}

.itens__home__1 {
    list-style: disc;
    font-weight: 700;
    padding-right: 2rem;
}

.itens__home {
    font-weight: 300;
}

.itens__home__1::marker {
    color: var(--laranja);
}

.texto__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 2rem;
    font-weight: 200;
    font-size: calc(2rem + 2vw);
    text-align: center;
    align-items: center;
    width: 100%;
}

.texto__destaque {
    width: 50%;
    line-height: 1.3;
}

.texto__semDestaque {
    width: 50%;
    line-height: 1.3;
}

.saiba__mais {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    width: 100%;
}

.saiba__mais a {
    width: 30%;
}

.botao__saibaMais {
    padding-left: 2rem;
    text-align: left;
    min-width: 13rem;
}

.fa-arrow-right {
    padding: 0 1rem 0 3rem;
}

strong {
    font-weight: 700;
}