main {
    width: 100%;
    border-bottom: 1px solid var(--cinza);
    font-family: var(--fonte-principal);
}

.pagina__principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin: 0; /* Remova as margens para evitar espaços indesejados */
    padding: 0; /* Remova os padding para evitar espaços indesejados */
}

.pagina__home {
    width: 50vw;
    height: auto;
    margin-top: 7%;
    color: var(--branco);
}

.imagem__home {
    width: 40vw;
    height: auto;
    overflow: hidden; 
    position: relative;
    align-items: center;
}

.imagem__principal {
    width: 100%; /* A imagem ocupa 100% da largura do contêiner */
    height: 100%; /* A imagem ocupa 100% da altura do contêiner */
}

.itens__lista__home {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    width: 100%;
}

.itens__home__1 {
    list-style: disc;
    font-weight: 700;
    padding-right: 2rem;
}

.itens__home {
    font-weight: 300;
}

.itens__home__1::marker {
    color: var(--laranja);
}

.texto__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 2rem;
    font-weight: 200;
    font-size: calc(2rem + 2vw);
    text-align: center;
    align-items: center;
    width: 100%;
}

.texto__destaque {
    width: 50%;
    line-height: 1.3;
}

.texto__semDestaque {
    width: 50%;
    line-height: 1.3;
}

.saiba__mais {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    width: 100%;
}

.saiba__mais button {
    width: 100px;
}

.saiba__mais a {
    width: 50%;
}

.botao__saibaMais {
    padding-left: 2rem;
    text-align: left;
    min-width: 13rem;
}

.fa-arrow-right {
    padding: 0 1rem 0 1.5rem;
}

.whatsapp__icon {
    position: fixed;
    bottom: 20px; 
    right: 40px; 
    border-radius: 50%; 
    cursor: pointer; 
    z-index: 100;
    max-width: 100px;
    max-width: 100px;
    opacity: 0.5;
    transition: all 0.4s;

    &:hover {
        opacity: 1;
        transition: all 0.4s;
        transform: translateY(-5px);
        cursor: pointer;
    }
  }

strong {
    font-weight: 700;
}

/* Para telas menores que 768px (tablets e celulares) */
@media (max-width: 1024px) {
    .pagina__principal {
        margin: 0;
        padding: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .pagina__home {
        width: 100%; /* Ocupa toda a largura da tela */
        height: auto;
        text-align: center;
        margin-top: 5%;
    }

    .imagem__home {
        width: 75vw; /* A imagem ocupa toda a largura disponível */
        height: auto; /* Ajusta a altura da imagem */
    }

    .imagem__principal {
        width: 100%; /* Ajusta a largura da imagem */
        height: auto; /* Ajusta a altura da imagem */
    }

    .texto__home {
        font-size: 3rem; /* Tamanho de fonte menor para telas pequenas */
        padding-block: 1rem; /* Menos espaçamento */
    }

    .itens__lista__home {
        flex-direction: column; /* Alinha os itens da lista verticalmente */
        padding-block: 1rem;
    }

    .itens__home__1, .itens__home {
        font-size: 22px; /* Ajuste do tamanho da fonte para itens menores */
        padding-right: 0; /* Remove o padding para itens menores */
        margin-bottom: 1rem; /* Espaçamento entre os itens */
    }

    .saiba__mais {
        padding-block: 1rem;
    }

    .saiba__mais a {
        width: 20%; /* Aumenta a largura do botão em dispositivos móveis */
        font-size: 22px; /* Ajusta o tamanho da fonte do botão */
    }

    .fa-arrow-right {
        padding: 0 0.5rem; /* Ajuste o padding no ícone */
    }

    .indice__direita {
        display: none;
    }

    .whatsapp__icon {
        position: fixed;
        bottom: 40px; 
        right: 25px;
        max-width: 80px;
        max-width: 80px;
        opacity: 1;
    }
}

/* Para telas muito pequenas (celulares) */
@media (max-width: 480px) {

    .pagina__principal {
        width: 100%;
        height: auto;
    }

    .pagina__home {
        font-size: 1rem; /* Ajuste de font-size */
        margin-top: 0;
    }

    .texto__home {
        font-size: 1.2rem; /* Ajuste para telas muito pequenas */
        padding-block: 0.5rem; /* Menos espaçamento */
    }

    .imagem__home {
        display: flex;
        justify-content: center;
        width: 50%;
        height: auto;
    }

    .imagem__principal {
        width: 100%; /* Ajusta a imagem para ser 100% da largura */
        height: auto;
        object-fit: contain;
    }

    .saiba__mais {
        width: 100%;
        padding-block: 0.5rem;
    }

    .saiba__mais a {
        width: 20%; /* O botão ocupa 100% da largura */
        font-size: 12px;
    }

    .itens__lista__home {
        padding-block: 0.5rem; /* Menos espaçamento vertical */
    }
}