.tela__esquerda img {
    width: 70%;
    height: auto;
}  

.tela__esquerda h1 {
    font-size: 22px;
    font-weight: 700;
    padding-block: 20px;
}

.tela__esquerda p {
    text-align: center;
    font-size: 16px;
    height: auto;
    width: 50%;
}

.tela__esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela__meio img {
    width: 70%;
    height: auto;
}  

.tela__meio h1 {
    font-size: 22px;
    font-weight: 700;
    padding-block: 20px;
}

.tela__meio p {
    text-align: center;
    font-size: 16px;
    height: auto;
    width: 50%;
}

.tela__meio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela__direita img {
    width: 70%;
    height: auto;
}  

.tela__direita h1 {
    font-size: 22px;
    font-weight: 700;
    padding-block: 20px;
}

.tela__direita p {
    text-align: center;
    font-size: 16px;
    height: auto;
    width: 50%;
}

.tela__direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina__sobre {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.titulo__sobre {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.titulo__sobre h1 {
    padding-block: 2rem;
    font-size: 28px;
}

.container__sobre {
    display: flex;
    flex-direction: column;
}

.conteudo__sobre {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

