.tela__esquerda img {
    width: 70%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
} 

.texto-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-esquerda h1 {
    font-size: 22px;
    font-weight: 700;
    padding-block: 20px;
}

.texto-esquerda p {
    text-align: center;
    font-size: 16px;
    height: auto;
    width: 50%;
}

.tela__esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela__meio img {
    width: 70%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}  

.texto-meio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-meio h1 {
    font-size: 22px;
    font-weight: 700;
    padding-block: 20px;
}

.texto-meio p {
    text-align: center;
    font-size: 16px;
    height: auto;
    width: 50%;
}

.tela__meio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela__direita img {
    width: 70%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
} 

.texto-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-direita h1 {
    font-size: 22px;
    font-weight: 700;
    padding-block: 20px;
}

.texto-direita p {
    text-align: center;
    font-size: 16px;
    height: auto;
    width: 50%;
}

.tela__direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina__sobre {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.titulo__sobre {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.titulo__sobre h1 {
    padding-block: 2rem;
    font-size: 28px;
}

.container__sobre {
    display: flex;
    flex-direction: column;
}

.conteudo__sobre {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

@media (max-width: 1024px) {
    .container__sobre {
        width: 100%;
        height: 100%;
    }

    .conteudo__sobre {
        flex-direction: column;
    }

    .conteudo__sobre img {
        width: 20%;
    }

    .conteudo__sobre h1 {
        font-size: 30px;
        padding-block: 10px;
    }

    .conteudo__sobre p {
        font-size: 22px;
        width: 60%;
        padding-bottom: 50px;
    }
}

@media (max-width: 480px) {

    .titulo__sobre h1 {
        font-size: 19.2px;
        padding-block: 1rem;
    }

    .tela__esquerda {
        flex-direction: row;
        justify-content: space-around;
        height: 30%;
        padding-bottom: 40px;
    }

    .texto-esquerda {
        width: 50%;
    }

    .conteudo__sobre img {
        width: 40%;
    }

    .conteudo__sobre h1 {
        font-size: 18px;
        padding-block: 5px;
    }

    .conteudo__sobre p {
        font-size: 12px;
        width: 80%;
        padding-bottom: 0;
    }

    .tela__meio {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 30%;
        padding-bottom: 40px;
    }

    .texto-meio {
        width: 50%;
    }

    .tela__direita {
        flex-direction: row;
        justify-content: space-around;
        height: 30%;
        padding-bottom: 10px;
    }

    .texto-direita {
        width: 50%;
    }
}
