.titulo__solucoes {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.superior__solucoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.solucoes__paragrafo {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 1.5%;
}

.paragrafo__solucoes {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    width: 50%;
}

.fa-hand-point-right {
    padding-right: 1rem;
}

.solucoes__pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.corpo__solucoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
    width: 50vw;
    line-height: 1.5;
    margin-right: 5rem;
}

.imagem__solucoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.imagem__tecnico {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem__tecnico img {
    width: 80%;
    overflow: hidden; 
    position: relative;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.texto__dificuldade {
    padding-top: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.texto__solucoes {
    display: flex;
    text-align: justify;
    width: 100%;
    padding-block: 1rem;
}

.botao__div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    border-radius: 3rem;
    width: 35%;
    height: 4rem;
    background-color: var(--preto);
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 0.8rem;
    transition: all 0.4s;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.botao__div:hover {
    opacity: 0.8;
    transition: all 0.4s;
    transform: translateY(-5px);
}

.botao__div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--branco);
    font-size: 19.2px;
    width: 80%;
    height: 50%;
}

.lista__div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-block: 1rem;
    width: 100%;
    white-space: nowrap;
}

.solucoes__lista {
    font-size: 2rem;
}

.fa-bolt {
    padding-right: 5px;
}

.fa-diamond {
    color: var(--preto)
}

@media (max-width: 1024px) {

    .pagina__dois {
        display: flex;
        flex-direction: column;
    }

    .titulo__solucoes {
        font-size: 48px;
        font-weight: 700;
    }

    .paragrafo__solucoes {
        width: 100%;
        font-size: 22px;
        padding: 0;
    }

    .solucoes__pagina {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: auto;
    }

    .solucoes__paragrafo {
        width: 50%;
    }

    .solucoes__paragrafo p {
        font-size: 30px;
    }

    .corpo__solucoes {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .imagem__solucoes {
        width: 50%;
    }

    .imagem__tecnico {
        display: flex;
        justify-content: center;
    }

    .imagem__tecnico img {
        width: 75%;
        overflow: hidden; 
        position: relative;
        align-items: center;
        padding-block: 1rem;
    }

    .texto__dificuldade {
        font-size: 48px;
        padding: 1rem;
    }

    .texto__solucoes {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .botao__div {
        padding: 1rem;
    }

    .botao__div a {
        font-size: 10px;
        width: 100%;
    }

    .corpo__solucoes p {
        padding-inline: 1.5rem;
        padding-bottom: 2rem;
        font-size: 22px;
        width: 60%;
    }

    .lista__div{
        padding-block: 2rem;
        font-size: 16px;
    }

    .solucoes__lista {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .titulo__solucoes {
        font-size: 18px;
        font-weight: 700;
        padding-top: 1rem;
    }

    .superior__solucoes {
        padding: 0;
    }

    .paragrafo__solucoes {
        width: 100%;
        padding: 0;
    }

    .solucoes__paragrafo p {
        font-size: 15px;
    }

    .solucoes__head h1 {
        font-size: 19.2px;
    }

    .solucoes__pagina {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .corpo__solucoes {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .corpo__solucoes h1 {
        font-size: 18px;
    }

    .imagem__solucoes {
        width: 50%;
    }

    .imagem__tecnico img {
        width: 100%;
        overflow: hidden; 
        position: relative;
        align-items: center;
        padding: 0;
    }

    .texto__dificuldade {
        padding: 10px 0 0 0;
    }

    .texto__dificuldade h1 {
        font-size: 19.2px;
    }

    .texto__solucoes p {
        width: 80%;
        font-size: 15px;
        padding: 0;
    }

    .botao__div {
        margin-top: 10px; 
        width: 35%;
        height: 1rem;
    }

    .corpo__solucoes p {
        padding-inline: 1.5rem;
    }

    .lista__div {
        padding-block: 0.5rem;
    }

    .solucoes__lista {
        font-size: 19.2px;
    }
}