.head__solucoes {
    padding-top: 3%;
}

.titulo__solucoes {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.superior__solucoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.solucoes__paragrafo {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 1.5%;
}

.paragrafo__solucoes {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    width: 50%;
}

.fa-hand-point-right {
    padding-right: 1rem;
}

.solucoes__pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 67%;
}

.corpo__solucoes {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    width: 50vw;
    line-height: 1.5;
    margin-right: 5rem;
}

.imagem__solucoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.imagem__tecnico {
    width: auto;
    height: auto;
}

.imagem__tecnico img {
    width: 60vh;
    overflow: hidden; 
    position: relative;
    align-items: center;
}

.texto__dificuldade {
    padding-top: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.texto__solucoes {
    display: flex;
    text-align: justify;
    width: 100%;
    padding-block: 1rem;
}

.botao__solucoes {
    background-color: var(--preto);
    color: var(--branco);
}

.botao__div {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.botao__div a {
    color: var(--branco);
    width: 40%;
    background-color: var(--preto);
}

.lista__div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-block: 1rem;
    width: 100%;
    white-space: nowrap;
}

.solucoes__lista {
    font-size: 2rem;
}

.fa-bolt {
    padding-right: 1rem;
}

.fa-diamond {
    color: var(--preto)
}

@media (max-width: 480px) {
    .titulo__solucoes {
        font-size: 19.2px;
        font-weight: 700;
        padding-top: 1rem;
    }

    .paragrafo__solucoes {
        width: 100%;
        font-size: 16px;
        padding: 1.2rem;
    }

    .solucoes__pagina {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .corpo__solucoes {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .imagem__solucoes {
        width: 25vw;
        height: 20vh;
        object-fit: cover;
    }
}