.titulo__solucoes {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.superior__solucoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.solucoes__paragrafo {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 1.5%;
}

.paragrafo__solucoes {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    width: 50%;
}

.fa-hand-point-right {
    padding-right: 1rem;
}

.solucoes__pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 67%;
}

.corpo__solucoes {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    width: 50vw;
    line-height: 1.5;
    margin-right: 5rem;
}

.imagem__solucoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.imagem__tecnico {
    width: auto;
    height: auto;
}

.imagem__tecnico img {
    width: 60vh;
    overflow: hidden; 
    position: relative;
    align-items: center;
}

.texto__dificuldade {
    padding-top: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.texto__solucoes {
    display: flex;
    text-align: justify;
    width: 100%;
    padding-block: 1rem;
}

.botao__solucoes {
    background-color: var(--preto);
    color: var(--branco);
}

.botao__div {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.botao__div a {
    color: var(--branco);
    width: 40%;
    background-color: var(--preto);
}

.lista__div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-block: 1rem;
    width: 100%;
    white-space: nowrap;
}

.solucoes__lista {
    font-size: 2rem;
}

.fa-bolt {
    padding-right: 1rem;
}

.fa-diamond {
    color: var(--preto)
}

@media (max-width: 1024px) {

    .pagina__dois {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .titulo__solucoes {
        font-size: 48px;
        font-weight: 700;
    }

    .paragrafo__solucoes {
        width: 100%;
        font-size: 22px;
        padding: 0;
    }

    .solucoes__pagina {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .solucoes__paragrafo {
        width: 50%;
    }

    .solucoes__paragrafo p {
        font-size: 32px;
    }

    .corpo__solucoes {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .imagem__solucoes {
        width: 50%;
    }

    .imagem__tecnico img {
        width: 100%;
        overflow: hidden; 
        position: relative;
        align-items: center;
        padding-block: 1rem;
    }

    .texto__dificuldade {
        font-size: 48px;
        padding: 1rem;
    }

    .texto__solucoes {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .botao__div {
        padding: 1rem;
    }

    .botao__div a {
        font-size: 22px;
        width: 50px;
    }

    .corpo__solucoes p {
        padding-inline: 1.5rem;
        font-size: 22px;
        width: 80%;
    }

    .lista__div{
        padding-block: 2rem;
        /* font-size: 16px; */
    }

    .solucoes__lista {
        font-size: 32px;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 480px) {
    .titulo__solucoes {
        font-size: 18px;
        font-weight: 700;
        padding-top: 1rem;
    }

    .paragrafo__solucoes {
        width: 100%;
        font-size: 14px;
        padding: 0;
    }

    .solucoes__pagina {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .corpo__solucoes {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .corpo__solucoes h1 {
        font-size: 18px;
    }

    .imagem__solucoes {
        width: 50%;
    }

    .imagem__tecnico img {
        width: 100%;
        overflow: hidden; 
        position: relative;
        align-items: center;
    }

    .texto__dificuldade {
        font-size: 19.2px;
        padding: 0;
    }

    .texto__solucoes {
        padding: 0;
    }

    .botao__div {
        padding: 10px;
    }

    .botao__div a {
        width: 20px;
    }

    .corpo__solucoes p {
        padding-inline: 1.5rem;
    }

    .lista__div {
        padding-block: 0.5rem;
    }

    .solucoes__lista {
        font-size: 19.2px;
    }
}